<html ng-app="myApp">
    <head>
        <script src="angular.js"></script>
    </head>
    <body>
      <div ng-controller="MainCtrl">
        <h1>Hello Angular</h1>
        <p ng-if="hourOfDay<12">Good Morning</p>
        <p ng-if="hourOfDay>17">Good Evening</p>
        <!-- <p>The hour of the day is: <span ng-bind="hourOfDay"></span> </p> -->
        <p>The hour of the day is: {{hourOfDay}}</p>
        <p>Addition of 10+20 = {{10+20}}</p>
    </div>
    <script>
         var module = angular.module("myApp",[]);

         module.controller("MainCtrl",main);

         function main($scope){
             $scope.hourOfDay=6;
             console.log("Main method");
         }
    </script>
    </body>
</html>